# Python virtual environment
venv/
env/
.env/

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db 